doctype html
html
  head
    title Vansh Dance Acadmey
    block scripts
    block style 
  body
    block content
    footer#footer COPYRIGTH &copy 2019 ,  ALL RIGTHS ARE RESERVED BY WWW.DANCE INDIA.COM 
      h3 Follow us on :
      div.img
        img(src="../static/face.png", alt="")
